# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Virtual environments
# =========================
venv/
env/
.venv/
ennv/
ENV/

# =========================
# FastAPI / Uvicorn logs
# =========================
*.log

# =========================
# Environment variables
# =========================
.env
.env.*

# =========================
# IDEs
# =========================
.vscode/
.idea/

# =========================
# Testing / coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# MyPy / type checking
# =========================
.mypy_cache/
.dmypy.json

# =========================
# Build / distribution
# =========================
build/
dist/
*.egg-info/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# FastAPI / project specific
# =========================
*.sqlite3
*.db